@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @font-face {
    font-family: 'mayk-thin';
    src: url('/fonts/JetBrainsMono-Thin.ttf');
  }

  @font-face {
    font-family: 'mayk-thick';
    src: url('/fonts/JetBrainsMono-Bold.ttf');
  }

  @font-face {
    font-family: 'mayk-title';
    src: url('/fonts/JetBrainsMono-ExtraBold.ttf');
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'mayk-title';
  }

  p, li, a, div {
    font-family: 'mayk-thin';
  }

  b {
    font-family: 'mayk-thick';
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
